@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

button:hover {
    cursor: pointer;
}

/*NAV*/

nav {
    background-color: #0084FD;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-col {
    width: 50%;
    padding: 20px 50px;
}

.nav-left > img {
    height: 50px;
}

#hamburger-nav .nav-right {
    display: flex;
    justify-content: right;
    font-size: 25pt;
}

#desktop-nav .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

#desktop-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 13pt;
}

#desktop-nav button {
    padding: 15px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 13pt;
}

#desktop-nav {
    display: none;
}

/*MAIN E SECTION IN GENERALE*/

section:nth-child(even) {
 background-color: #9792E5;
}

section {
    height: auto;
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* #demo - GET A DEMO APPLICATION */

.demo-card {
    background-color: #B5DDFF;
    padding: 40px;
    margin: 20px 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.demo-card:first-child {
    padding-bottom: 0;
    text-align: left;
}

.demo-card h2 {
    font-size: 25pt;
    color: #0084FD;
}

.demo-card p {
    color: #5A6E7F;
    font-weight: 700;
    font-size: 15pt;
    margin-top: 40px;
    line-height: 40px;
}

.demo-card img {
    width: 400px;
    margin: -5px auto;
}

.demo-card>i {
    margin-bottom: 40px;
    color: #0084FD;
    font-size: 90pt;
}

.demo-card button {
    margin: 40px 0;
    padding: 15px 70px;
    background-color: #0084FD;
    color: #fff;
    letter-spacing: 5px;
    font-size: 14pt;
    font-weight: 700;
    border: none;
    border-radius: 50px;
}

/* #planning - STRATEGIC PLANNING */
  
.planning-col {
    width: 100%;
    color: #fff;
}

#planning img {
    width: 100%;
}

.planning-left p {
    font-size: 14pt;
    line-height: 35px;
    margin-bottom: 40px;
}

#planning-card {
    background-color: #fff;
    border-radius: 100px;
    padding: 40px;
    color: #000;
    text-align: center;
}

.planning-left h1 {
    font-size: 35pt;
    margin: 100px 0 50px 0;
}

#planning-card h2 {
    font-size: 20pt;
    margin: 20px 0;
}

#planning-card p {
    font-style: italic;
    font-size: 15pt;
    line-height: 40px;
    margin-bottom: 40px;
}

#planning-card i {
    font-weight: bold;
    font-size: 17pt;
    padding: 20px 23px;
    border-radius: 100%;
    background-color: #9792E5;
}

/* #partners - WE ARE COMMITTED EXPERT PARTNERS */
   
#partners {
    text-align: center;
}

#partners>h2 {
    font-weight: lighter;
    margin-bottom: 30px;
}

#partners h1 {
    font-size: 35pt;
    color: #9792E5;
}

#partners p {
    font-size: 15pt;
    line-height: 40px;
    margin: 40px 0 30px 0;
}

.partners-card {
    background-color: #9792E5;
    border-radius: 100px;
    padding: 40px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.partners-card img {
    width: 100%;
    border-radius: 100%;
    padding: 0 30px;
}

/* #benefits - BENEFITS OF WORKING WITH US */

#benefits>h1 {
    font-size: 35pt;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}

.benefits-card {
    background-color: #fff;
    padding: 40px;
    margin: 40px 0;
    border-radius: 25px;
}

.benefits-card h1 {
    font-size: 50pt;
    color: #9792E5;
}

.benefits-card h2 {
    font-size: 20pt;
    margin: 20px 0;
    color: #9792E5;
}

.benefits-card p {
    font-size: 14pt;
    line-height: 40px;
    margin-bottom: 20px;
    color: #5A6E7F;
}

.benefits-card button {
    padding: 15px 60px;
    background-color: #9792E5;
    color: #fff;
    letter-spacing: 5px;
    font-size: 15pt;
    font-weight: 700;
    border: none;
    border-radius: 50px;
}

/* #about - ABOUT US */
            
#about h1 {
    font-size: 35pt;
    color: #9792E5;
}

#about p {
    font-size: 15pt;
    line-height: 40px;
    margin: 40px 0;
}

#about-img {
    width: 50%;
    margin: 20px 0;
}

#about-img img {
    width: 100%;
    border-radius: 100%;
    position: relative;
}

#about-img i {
    font-size: 70pt;
    color: #9792E5;
    position: absolute;
    left: 40%;
}

#about h2 {
    color: #9792E5;
    font-size: 25pt;
}

#about button {
    margin: 40px 0;
    padding: 10px 15px;
    background-color: #9792E5;
    color: #fff;
    font-size: 14pt;
    border: none;
    border-radius: 50px;
}

#about-btn>i {
    margin-right: 5px;
}

/* #started - GET STARTED */

#started {
    text-align: center;
    color: #fff;
}

#get-started-caption {
    font-weight: lighter;
    margin-bottom: 10px;
    color: #CCCAF1;
}

#get-started {
    font-size: 30pt;
}

#started h1 {
    color: #FDC15E;
    font-size: 50pt;
    margin: 30px 0;
}

#started-beta {
    font-size: 15pt;
    line-height: 40px;
    color: #fff;
}

#started button {
    margin: 40px 0;
    padding: 25px 70px;
    background-color: #fff;
    color: #9792E5;
    letter-spacing: 5px;
    font-size: 15pt;
    font-weight: 700;
    border: none;
    border-radius: 50px;
}

#started-copyright {
    color: #fff;
}

/*FOOTER*/

footer {
    padding: 50px;
    text-align: center;
    background-color: #333333;
    color: #fff;
    font-size: 14pt;
}

footer a {
    color: #9792E5;
}

@media screen and (min-width: 768px) {
	section {
        padding: 100px 20px;
    }

    /* #demo - GET A DEMO APPLICATION */
    
    #demo {
        flex-direction: row;
        justify-content: space-between;
    }

    .demo-card {
        width: 31%;
        display: flex;
        justify-content: flex-start;
    }
    
    .demo-card:first-child {
        width: 65%
    }

    .demo-card h2 {
        font-size: 20pt;
    }
    
    .demo-card p {
        font-size: 13pt;
    }
    
    .demo-card img {
        width: 400px;
        margin: -5px auto;
    }
    
    .demo-card>i {
        margin-bottom: 40px;
        color: #0084FD;
        font-size: 90pt;
    }
    
    .demo-card button {
        margin: 40px 0;
        padding: 15px 70px;
        background-color: #0084FD;
        color: #fff;
        letter-spacing: 5px;
        font-size: 14pt;
        font-weight: 700;
        border: none;
        border-radius: 50px;
    }

    /* #partners - WE ARE COMMITTED EXPERT PARTNERS */
   
    #partners {
        text-align: center;
    }

    #partners h1 {
        font-size: 30pt;
    }

    .partners-card {
        padding: 20px;
        text-align: left;
        flex-direction: row;
        margin: 15px 0;
        align-items: center;
        border-radius: 40px;
    }

    .partners-card img {
        padding: 0; 
    }

    #partners p {
        font-size: 13pt;
        margin: 0 0 10px 20px;
    }

    .partners-card h2 {
        font-size: 15pt;
        margin-left: 20px;
    }

    /* #benefits - BENEFITS OF WORKING WITH US */

    #benefits>h1 {
        font-size: 30pt;
    }

    #benefits-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits-card {
        width: 48%;
        padding: 30px;
        margin: 10px 0;
    }

    .benefits-card p {
        font-size: 13pt;
    }

    /* #about - ABOUT US */
      
    #about-container {
        display: flex;
    }

    .about-col {
        padding: 0 20px;
    }

    .about-col-left {
        width: 220%;
    }

    #about h1 {
        font-size: 40pt;
    }

    #about p {
        font-size: 13pt;
    }

    #about-img {
        width: 100%;
    }

    #about-img img {
        width: 100%;
        border-radius: 100%;
        position: relative;
    }

    #about-img i {
        font-size: 50pt;
        left: 90%;
    }

    #about h2 {
        font-size: 20pt;
    }

    #about button {
        font-size: 13pt;
    }

    
}

@media screen and (min-width: 992px) {
	#desktop-nav {
        display: flex;
    }

    #hamburger-nav {
        display: none;
    }
    
    section {
        padding: 100px 150px;
    }

    /* #demo - GET A DEMO APPLICATION */
    
    #demo {
        flex-direction: row;
        justify-content: space-between;
    }

    .demo-card {
        width: 31%;
        display: flex;
        justify-content: flex-start;
    }
    
    .demo-card:first-child {
        width: 65%;
    }

    .demo-card p {
        margin-top: 10px;
    }
    
    .demo-card img {
        width: 300px;
        margin: -5px auto;
    }
    
    .demo-card>i {
        margin-bottom: 30px;
        font-size: 80pt;
    }
    
    .demo-card button {
        font-size: 13pt;
        padding: 15px 50px;
    }

    /* #planning - STRATEGIC PLANNING */
  
    #planning-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .planning-col {
        width: 47%;
    }

    #planning-card {
        margin-top: 200px;
    }

    /* #benefits - BENEFITS OF WORKING WITH US */

    #benefits>h1 {
        font-size: 30pt;
    }

    #benefits-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits-card {
        width: 32%;
        padding: 30px;
        margin: 10px 0;
    }

    .benefits-card p {
        font-size: 13pt;
    }

    /* #about - ABOUT US */
      
    #about-container {
        display: flex;
    }

    .about-col {
        padding: 0 20px;
    }

    .about-col-left {
        width: 220%;
    }

    #about h1 {
        font-size: 40pt;
    }

    #about p {
        font-size: 13pt;
    }

    #about-img {
        width: 100%;
    }

    #about-img img {
        width: 100%;
        border-radius: 100%;
        position: relative;
    }

    #about-img i {
        font-size: 50pt;
        left: 80%;
    }

    #about h2 {
        font-size: 20pt;
    }

    #about button {
        font-size: 13pt;
    }    
}


@media screen and (min-width: 1200px) {
	#desktop-nav {
        display: flex;
    }

    #hamburger-nav {
        display: none;
    }
    
    section {
        padding: 100px 150px;
    }

    /* #demo - GET A DEMO APPLICATION */
    
    #demo {
        flex-direction: row;
        justify-content: space-between;
    }

    .demo-card {
        width: 31%;
        display: flex;
        justify-content: flex-start;
    }
    
    .demo-card:first-child {
        width: 65%;
        flex-direction: row;
    }

    .demo-card-col:last-child {
        display: flex;
        align-items: flex-end;
    }

    .demo-card p {
        margin-top: 10px;
    }
    
    .demo-card img {
        width: 300px;
        margin: -5px auto;
    }
    
    .demo-card>i {
        margin-bottom: 30px;
        font-size: 80pt;
    }
    
    .demo-card button {
        font-size: 13pt;
        padding: 15px 50px;
    }

    /* #planning - STRATEGIC PLANNING */
  
    #planning-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .planning-col {
        width: 47%;
    }

    #planning-card {
        margin-top: 100px;
    }

    /* #benefits - BENEFITS OF WORKING WITH US */

    #benefits>h1 {
        font-size: 30pt;
    }

    #benefits-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits-card {
        width: 32%;
        padding: 30px;
        margin: 10px 0;
    }

    .benefits-card p {
        font-size: 13pt;
    }

    /* #about - ABOUT US */
      
    #about-container {
        display: flex;
    }

    .about-col {
        padding: 0 20px;
    }

    .about-col-left {
        width: 220%;
    }

    #about h1 {
        font-size: 40pt;
    }

    #about p {
        font-size: 13pt;
    }

    #about-img {
        width: 100%;
    }

    #about-img img {
        width: 100%;
        border-radius: 100%;
        position: relative;
    }

    #about-img i {
        font-size: 50pt;
        left: 90%;
    }

    #about h2 {
        font-size: 20pt;
    }

    #about button {
        font-size: 13pt;
    }    
}

