@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/*NAV*/

nav {
    background-color: #0084FD;
    width: 100vw;
    display: flex;
    align-items: center;
    color: #fff;
}

.nav-col {
    width: 50vw;
    padding: 20px 50px;
}

.nav-left > img {
    height: 60px;
}

.nav-right {
    display: flex;
    justify-content: right;
    font-size: 30pt;
}

/*MAIN E SECTION IN GENERALE*/

section:nth-child(even) {
 background-color: #9792E5;
}

section {
    height: auto;
    padding: 100px 50px;
}

/*GET A DEMO APPLICATION*/

#demo {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
}

.demo-card {
    background-color: #B5DDFF;
    padding: 40px;
    margin: 20px 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.demo-card:first-child {
    padding-bottom: 0;
    text-align: left;
}

.demo-card h2 {
    font-size: 25pt;
    color: #0084FD;
}

.demo-card p {
    color: #5A6E7F;
    font-weight: 700;
    font-size: 17pt;
    margin-top: 40px;
    line-height: 40px;
}

.demo-card img {
    width: 400px;
    margin: -5px auto;
}

.demo-card>i {
    margin-bottom: 40px;
    color: #0084FD;
    font-size: 90pt;
}

/*STRATEGIC PLANNING*/
  
#planning {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*WE ARE COMMITTED EXPERT PARTNERS*/
   
#partners {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*BENEFITS OF WORKING WITH US*/
  
#benefits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*ABOUT US*/
            
#about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*GET STARTED*/
  
#started {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
